body
	margin: 0
	font-size: 20px
	position: relative


.headerSpace
	height: 70px

/*header調整*/
	.header
		display: flex
		height: 70px
		align-items: center
		position: fixed
		width: 100%

		z-index: 1
		background-color: rgba(256, 256, 256, 0.7)
		backdrop-filter: saturate(180%) blur(20px)
		border: 1px solid #e3e3e3
		filter: drop-shadow(8px 8px 10px rgba(0, 0, 0, 0.1))


		.webName
			display: flex
			justify-content: flex-start
			flex: auto
			margin-left: 20px
			align-items: center
			font-weight: 700
			text-align: center


.desktopMenu
	display: block


.phoneMenu
	display: none


.sidebarFullScreen
	display: none


.spacebar
	position: fixed
	height: 100%
	width: 50%
	left: 0
	z-index: 1



.sidebar
	position: fixed
	right: -50%
	height: 100%
	width: 50%
	background-color: rgba(256,256,256,0.5)
	backdrop-filter: saturate(180%) blur(20px)
	border: 0.5px solid rgba(0,0,0,0.3)
	z-index: 2



@keyframes moveSidebar
	from
		right: -50%
	to
		right: 0%
	



@keyframes moveSidebarReverse
	from
		right: 0%
	to
		right: -50%
	



.closeBtn
	position: relative
	height: 10%


	.closeImg
		position: absolute
		right: 0
		top: 0
		width: 30px
		margin: 20px


.phoneItem
	padding: 20px
	border: 0.5px solid rgba(0,0,0,0.3)

.menuImg
	margin: 10px
	display: flex
	justify-content: flex-end
	align-items: center

.hamburger
	width: 30px
	margin-right: 20px


.itemsGroup
	display: flex
	justify-content: flex-end
	margin-right: 20px
	align-items: center

.item
	padding: 0px 10px
	border-radius: 50px


/*welcome 區域調整*/
.welcomeBar
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 300px
	background-color: #333
/*	padding-top: 90px */

	.welcomeText
		color: whitesmoke
		font-size: 40px
		text-align: center


/*最下方欄位置中, 1200px*/
.row
	width: 100%
	display: flex
	justify-content: center
	padding-top: 50px
	margin-bottom: 100px


.infoGroup
	width: 1200px
	height: 100%
	margin: 30px
	display: inline-grid
	grid-template-columns: 1fr 1fr 1fr 1fr
	grid-template-rows: 50px 
	grid-auto-rows: minmax(210px, 210px)
	grid-gap: 30px

	grid-template-areas:
	"pr-1 pr-1 pr-2 pr-2"



/*promotion欄位*/
.promotion
	display: flex
	align-items: center
	background-color: #ffffff
	border-radius: 20px
	overflow: hidden
	filter: drop-shadow(12px 8px 8px rgba(0, 0, 0, 0.1))
	transition: filter 0.2s


	&:hover
		cursor: pointer
		filter: drop-shadow(12px 8px 8px rgba(0, 0, 0, 0.2)) brightness(110%)


	.promoImg
		flex: none
		height: 100%
		width: 80px
		background-image: cover
		display:block  /*消除多餘的空白*/


	.promoText
		flex: auto
		margin-left: 20px
		font-size: 18px

.pr-1
	grid-area: pr-1

.pr-2
	grid-area: pr-2


/*article 欄位*/
.article
	flex: none
	background-color: #ffffff
	border-radius: 20px
	overflow: hidden
	/* filter: drop-shadow(12px 12px 7px rgba(0, 0, 0, 0.1))  */
	position: relative
	transition: filter 0.3s
	filter: drop-shadow(12px 8px 8px rgba(0, 0, 0, 0.1))
	/* display: block  */


	&:hover
		filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.2)) 	brightness(110%)
		cursor: pointer


	.starImg
		position: absolute
		z-index: 1
		width: 30px
		right: 0
		margin: 10px


/* .imgBox
	max-width: 100%  設定圖片外框架

  */

	.articleImg
		max-width: 150%
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		display:block  /*消除多餘的空白*/


	.title
		height: 30%
		display: flex
		justify-content: center
		align-items: center

		width: 100%
		background-color: rgba(256,256,256,0.5)
		backdrop-filter: saturate(180%) blur(20px)
		position: absolute
		bottom: 0
		z-index: 0



	.articleText
		width: 80%
		color: rgb(26, 26, 26)
		text-align: center
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
		font-size: 18px



/*平板尺寸 RWD*/
@media (max-width: 1200px)
	.infoGroup
		width: 90%
		grid-template-columns: 1fr 1fr
		grid-template-rows: 50px repeat(4, 200px)

		grid-template-areas:
		"pr-1 pr-2"

	.articleImg
		width: 200%



/*手機尺寸 RWD*/
@media (max-width: 600px)
	.headerSpace
		height: 60px


	.header
		height: 60px


	.desktopMenu
		display: none


	.phoneMenu
		display: block


	.sidebarFullScreen
		display: block


	.infoGroup{
		height: 100%
		grid-template-columns: 1fr
		grid-template-rows: 50px  50px repeat(8, 200px)

		grid-template-areas:"pr-1" "pr-2";
	}
		





